<p>
  <mat-toolbar color="primary">
    <span>PWA</span>
  </mat-toolbar>
</p>
<H1>Télecharger une PWA</H1>
<p>
  La premiere particularité d'une PWA est qu'elle peut être installée directement sur le bureau dans le cas d'un ordinateur et sur l'écran d'accueil pour un smartphone.
  Pour l'installer une icon apparait au chargement de la page généralement à la fin de la barre de recherche de votre navigateur sur un ordinateur (voir image ci-dessous), sur un smartphone il faut généralement aller dans les options du navigateur sur la page.
  <img src="./assets/pictures/img.png">
</p>
<H1>Compatibilités</H1>
<p>Il exite un panel de fonctionnalités que les pwa peuvent réaliser, mais selon le navigateur que l'on utilise et la machine, certaine d'elles sont indisponible.
Il existe des outils/sites permettant d'avoir une idée des fonctionnalité disponible sur notre navigateur. Exemple: <a href="https://whatpwacando.today/">What PWA Can Do Today</a> ou encore <a href="https://fr.goodbarber.com/blog/pwa-compatibilite-des-fonctionnalites-des-applications-en-fonction-des-navigateurs-a856/">Pwa compatibilite des fonctionnalites des applications en fonction des navigateurs</a>.
Généralement le navigateur recommandé pour l'utilisation d'une pwa est <b>Google Chrome</b>. Il y a pas mal de restriction pour les smartphones <b>apple</b>.</p>
<h1>Avantages</h1>
<mat-list role="list">
  <mat-list-item role="listitem">Une fois une pwa installée, elle devient une vraie application comme on en retrouve sur les stores</mat-list-item>
  <mat-list-item role="listitem">L'installation est rapide et n'est pas soumise aux règles des stores que l'on connait</mat-list-item>
  <mat-list-item role="listitem">L'expérience d'utilisation avec une page web de navigateur est conservé</mat-list-item>
  <mat-list-item role="listitem">Pour les développeur c'est beaucoup plus simple et rapide</mat-list-item>
</mat-list>



